main {
  min-height: 80vh;
}

.bg-color {
  background: #499ee5;
}
.bg-color1 {
  background: #cfdfed;
  
}

.ml-auto {
  margin-left: auto;
}

.flipkart {
  height: 20px;
  width: 30px;
}

.amazon {
  height: 20px;
  width: 30px;
}

.flipkart_div {
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: #f7f7f7;
}

.form-div {
  display: flex;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  width: 30px;
  margin: 40px;
  /* border-radius: 50%; */
}

.carousel a {
  margin: 0 auto;
}

a {
  text-decoration: none;
}
#wishlistSetting {
  margin-left: auto;
}



.product-card-img {
  /* width: 30vw;
    height: 25vh; */
  margin-bottom: 5vh;
}
.button {
  height: 27px;
  width: 34px;
}
.cursor-hover:hover{
  cursor: pointer;
}
.butnn {/* 
  top: 60%; */

  width: 80%;
  height: 70px;
  /* background-color: #f3e118;
   */padding: 0;
  border: none;
  /* position: fixed; */
}
.brandname {
  font-size: 40px;
  font-weight: 430;
}
.text {
  font-size: 30px;
  font-weight: 370;
}
.product-card {
  margin-bottom: 5vh;
  align-items: centers;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  /* position: fixed; */
  left: 18%;
}
.contain_detail{
  margin-top: 10%;
}
@media only screen and (max-width: 800px) {
  .contain_detail{
    margin-top: 20%;
  }
 
 
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.style {
  text-align: center;
}
.h {
  font-weight: 260;
}
.btnn {
  background-color: #f7f7f7;
  padding: 0;
  border: none;
}
